@charset "utf-8";
/* CSS Document */

body{font-size: 1.3rem;}

.bg-light{background: #edf2f6  !important; width: 90%; margin: auto; border: 1px solid #e2e8f0; border-radius: 12px;}

.middle-section{background: #edf2f7;}
.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    margin: 6px;
    font-size: 20px;
    font-weight: 600;
	
}
.age >.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
 width: 40%;
	
    margin: 6px;
    font-size: 20px;
    font-weight: 600;
	
}
h2{font-weight: 700;}
a{text-decoration: none;}
.button-green {
    border: none;
    font-family: inherit;
    font-size: inherit;
    background: linear-gradient(#49b74e, #388E3C);
    cursor: pointer;
    padding: 10px 20px 10px 53px;
    border-radius: 8px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    line-height: normal;
    transition: all 0.3s;
    color: #fff !important;
    box-shadow: 0 1px 2px rgb(0 0 0 / 30%), inset 0 -0.6px 1px 1px rgb(0 0 0 / 35%);

    width: 80%;
    text-align: center;
    font-size: 21px;
    text-decoration: none !important;
	margin: auto;
	display: block;
}
.mobile-number{margin-top: 10px; margin-bottom: 10px;}
.footer{font-size: 12px;}


.transform {
   object-fit: cover; 
	    box-sizing: border-box;
    border-width: 0;
	
}
.main-images{clip-path: polygon(15% 0, 136% 0, 57% 228%, 0% 101%); -webkit-clip-path: polygon(15% 0, 136% 0, 57% 228%, 0% 101%); height: 100%;}

.desktop{display: block;}
.mobile{display: none;}
.age{max-width: 450px; margin: auto;}
.age .btn-light{margin: 1%;
    padding: 2%;
    width: 30%;font-weight: 700; padding-top: 3%; padding-bottom: 3%;}
.padding-left{padding-left: 4%;}
.padding-all{    padding: 4%; padding-top: 2%; padding-bottom: 2%;}


@media screen and (max-width: 768px) {
	.main-images{clip-path: polygon(0% 0, 136% 0, 57% 228%, 0% 101%); -webkit-clip-path: polygon(0% 0, 136% 0, 57% 228%, 0% 101%); height: auto;}
	
.desktop{display: none;}	
.mobile{display: block;margin: auto;}	
.padding-left{padding-left: 0%; padding: 2%;}	
}


@media screen and (max-width: 450px) {
.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    padding: 6px;
    margin: 6px;
    font-size: 14px;
    font-weight: 600;
}
	h3{font-size: 100%;}
.padding-left{padding-left: 0%; padding: 3%;}
}











  @media all and (max-width:768px) {
.mobile-number{margin-top: 20px; margin-bottom: 30px;}
	  
}